<b><font color=red>Name: Saurabh Shrestha  
Assignment: Build Your Text Classifier  
Date: June 20, 2021</b></font>

#### 1. You can find the dataset controversial-comments.jsonl for this exercise in the Weekly Resources: Week 2 Data Files.     
####  Pre-processing Text: For this part, you will start by reading the controversial-comments.jsonl file into a DataFrame. Then,    
  A. Convert all text to lowercase letters.  
  B. Remove all punctuation from the text.  
  C. Remove stop words.  
  D. Apply NLTK’s PorterStemmer.

In [1]:
# import pandas library
import pandas as pd
import numpy as np
import string
import nltk

from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import word_tokenize

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
# import controversial-comments file
d_frame= pd.read_json('C:/Users/Saurabh/Desktop/controversial-comments.jsonl', lines = True)
d_frame.shape

(950000, 2)

In [3]:
# Converted all text to lowercase letters.

d_frame['txt'].str.lower()
d_frame

        con                                                txt
0         0  Well it's great that he did something about th...
1         0                       You are right Mr. President.
2         0  You have given no input apart from saying I am...
3         0  I get the frustration but the reason they want...
4         0  I am far from an expert on TPP and I would ten...
...     ...                                                ...
949995    0  I genuinely can't understand how anyone can su...
949996    0  As a reminder, this subreddit [is for civil di...
949997    0                  K. Don't explain why or anything.
949998    0                                          [deleted]
949999    0  Ya, sociopaths are known for celebrating their...

[950000 rows x 2 columns]

In [4]:
# Remove all punctuation from the text.

import string
d_frame['txt'] = d_frame['txt'].str.translate(str.maketrans('','',string.punctuation))
d_frame

        con                                                txt
0         0  Well its great that he did something about tho...
1         0                         You are right Mr President
2         0  You have given no input apart from saying I am...
3         0  I get the frustration but the reason they want...
4         0  I am far from an expert on TPP and I would ten...
...     ...                                                ...
949995    0  I genuinely cant understand how anyone can sup...
949996    0  As a reminder this subreddit is for civil disc...
949997    0                     K Dont explain why or anything
949998    0                                            deleted
949999    0  Ya sociopaths are known for celebrating their ...

[950000 rows x 2 columns]

In [5]:
# removed stop words

stop_words=stopwords.words('english')

d_frame['txt'] = d_frame['txt'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
d_frame

        con                                                txt
0         0  Well great something beliefs office I doubt Tr...
1         0                             You right Mr President
2         0  You given input apart saying I wrong You argum...
3         0  I get frustration reason want way foundation c...
4         0  I far expert TPP I would tend agree lot proble...
...     ...                                                ...
949995    0  I genuinely cant understand anyone support poi...
949996    0  As reminder subreddit civil discussionhttpswww...
949997    0                            K Dont explain anything
949998    0                                            deleted
949999    0  Ya sociopaths known celebrating positive feeli...

[950000 rows x 2 columns]

In [6]:

# creating stemmer
porter = PorterStemmer()

# applying stemmer
d_frame['txt'] = d_frame['txt'].apply(lambda x: ' '.join([porter.stem(word) for word in x.split()]))
d_frame

        con                                                txt
0         0  well great someth belief offic I doubt trump w...
1         0                                you right Mr presid
2         0  you given input apart say I wrong you argument...
3         0  I get frustrat reason want way foundat complex...
4         0  I far expert tpp I would tend agre lot problem...
...     ...                                                ...
949995    0  I genuin cant understand anyon support point O...
949996    0  As remind subreddit civil discussionhttpswwwre...
949997    0                               K dont explain anyth
949998    0                                              delet
949999    0  Ya sociopath known celebr posit feel are fuck ...

[950000 rows x 2 columns]

In [18]:
# saved prepossed dataframe to csv file
d_frame.to_csv("new_dframe1.csv")

In [19]:

# Load up preprocessed data
test = pd.read_csv('new_dframe1.csv')
test.head()

,Unnamed: 0,con,txt,txt_tokenized
0,0,0,well great someth belief offic I doubt trump w...,"['well', 'great', 'someth', 'belief', 'offic',..."
1,1,0,you right Mr presid,"['you', 'right', 'Mr', 'presid']"
2,2,0,you given input apart say I wrong you argument...,"['you', 'given', 'input', 'apart', 'say', 'I',..."
3,3,0,I get frustrat reason want way foundat complex...,"['I', 'get', 'frustrat', 'reason', 'want', 'wa..."
4,4,0,I far expert tpp I would tend agre lot problem...,"['I', 'far', 'expert', 'tpp', 'I', 'would', 't..."

In [20]:
# bag of words

word_bags = count.fit_transform(np.array(d_new['txt']))
arr = word_bags.toarray()
pd.DataFrame(word_bags.toarray(), columns= count.get_feature_names())

,00,000,0000014,000005,00001,00015,00063,001,00100000,00189,...,яussian,इक,कल,जर,पर,सर,ಠಠ,ຈل,ㅠㅠ,你為什麼不告訴我們
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# tokenize data
d_frame['txt_tokenized'] = d_frame['txt'].apply(word_tokenize)
d_frame.head()

In [ ]:
# Load up preprocessed data
test = pd.read_csv('new_dframe1.csv')
test.head()

In [ ]:
# Take a sample of rows to work with
testing = test.sample(frac = 0.2)
x = TfidfVectorizer()
t = x.fit_transform(tf['txt_tokenized'])

#### C. Convert each entry into a term frequency-inverse document frequency (tfidf) vector (see section 6.9 in the Machine Learning with Python Cookbook).

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
new_tfid= TfidfVectorizer()
new_feature = new_tfid.fit_transform(d_frame["txt"])
new_feature

In [ ]:
new_tfidf.vocabulary_

For the three techniques in problem (2) above, give an example where each would be useful.

Word-count vector - would be used in twitter to check for explicit contents to filter it and /or block the tweet.  
Part- of speech tag vector - could be used in comments section in stock market websites for analysis purposes.  
TFIDF - Could be used by business executive to come to conclusion while making decisions.